PORT=5000
GEMINI_API_KEY=AIzaSyDLjl8iZpuyTZwVuvBa_6fdq8quitvi6Nw
SERP_API_KEY=21f698ce28e8dcc101b22b39cee94c0f33e395219107579f08c40f63e2048f7f
MONGODB_URI=mongodb+srv://dhanush369coder_db_user:zZ8jYYvM7O5jqeqM@draxworld.g7zcrbm.mongodb.net/?appName=DraxWorld